<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center mt-4">Contactez nous</h1>
      <p class="text-center">Vous pouvez nous envoyer un message via ce formulaire</p>
      
      <%= form_with(url: contact_path, method: :post) do |form| %>
        <div class="form-group mt-2">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control', required: true %>
        </div>
        <div class="form-group mt-2">
          <%= form.label :email %>
          <%= form.email_field :email, class: 'form-control', required: true %>
        </div>
        <div class="form-group mt-2">
          <%= form.label :message %>
          <%= form.text_area :message, class: 'form-control', rows: 5, required: true %>
        </div>
        <%= form.submit 'Envoyer', class: 'btn btn-warning btn-block mt-4 w-100' %>
      <% end %>
      
    </div>
  </div>
</div>
